language: 
 - c

install:
 - wget -O /tmp/setup.sh https://raw.githubusercontent.com/mithro/travis-trusty/master/setup.sh
 - md5sum /tmp/setup.sh
 - cat /tmp/setup.sh
 - bash /tmp/setup.sh

script:
 - ls -l /trusty/run.sh
 - md5sum /trusty/run.sh
 - cat /trusty/run.sh
 - ls $PWD
 - ls /trusty/$PWD
 - /trusty/run.sh $PWD/docker-test/check.sh
